html, body, article {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height: 60%;
}
#table {
  width: 100%;
  height: 40%;
}
.toolbar {
  height: 50px;
}
#content {
  width: 100%;
  height:  calc(100% - 50px);
}
.toolbar ul {
  padding-top: 4px;
}
